*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(106, 89, 122);
    color:white;
    padding:15px;
    align-items: center;
    box-shadow: 0px 1px 4px 1px rgb(106, 89, 122);
    position: sticky;
    top: 0px;
    z-index:1;
}

.logo{
    font-size: 2rem;
}

nav{
    height:auto;
    transition: all .1s ease-in-out 
}

nav ul{
    display: flex;
    transition: all 1s ease-in-out
}

li{
    list-style-type:none;
    padding:10px 15px;
    cursor: pointer;
}

li:hover{
    background: rgb(59, 32, 85);
}

li a{
    color:white;
    text-decoration: none;
    font-size: 1rem; 
}

.hamburger{
    display: none;
    width:50px;
    height:50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger-btn{
    width:30px;
    height:5px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px black;
    position: relative;
    transition: all .5s ease-in-out;
}

.hamburger-btn::after,
.hamburger-btn::before{
    content:'';
    width:30px;
    height:5px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px black;
    position: absolute;
    transition: all .5s ease-in-out;
}

.hamburger-btn::after{
    top:10px;
}

.hamburger-btn::before{
    top:-10px;
}

/* HAMBURGER ANIMATION */

.hamburger-btn.open{
    background: transparent;
    box-shadow: none;
}

.hamburger-btn.open::before{
    transform: rotate(45deg);
    top:0px;
}

.hamburger-btn.open::after{
    transform: rotate(-45deg);
    top:0px;
}


.navbar-open{
    display:flex;
    flex-direction: column;
    height:auto;
}

main{
    height:89vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-size:2rem;
    text-align: center;
}

@media screen and (max-width:720px){
    header{
        display: inline-block;
        width:100%;
    }

    nav ul{
        display:none;
    }

    li{
        padding:15px;
    }
    .hamburger{
        display: flex;
        position: absolute;
        top: 8px;
        right: 0px;
    }
}